body {
    background: #ddd;
}
.login {
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
}

.login__wrap {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 50px 0 40px 0;
    border-radius: 6px;
    background: #fff;
}

.login__form {
    margin-bottom: 30px;
}

.login__input {
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
    width: 70%;
}

.login__title {
    font-size: 28px;
    color: #000;
    text-shadow: 3px 3px 20px #ff99cc,-2px 1px 30px #ff99cc;
}

.login__input input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.login__button {
    margin-top: 30px;
}

.login--link {
    background: #000;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 6px;
}

.login--link span, .login--link i {
    color: #fff;
    font-size: 15px;
}


.login__sig {
    margin-left: 50%;
    margin-bottom: 30px;
}

.login__sig a {
    font-size: 15px;
    color: #121212;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}
